.result-display-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #f8f9fa; /* Light background */
}

.result-card {
  width: 40%;
  max-width: 600px;
  min-width: 300px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 8px;
  overflow: hidden;
}

.details-modal .modal-content {
  border-radius: 12px;
}

.details-modal .modal-header {
  background-color: #007bff;
  color: white;
}

.details-modal .modal-title {
  font-weight: bold;
}
