.register-title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  width: 100%;
}
.pi-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 80% !important;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.register-name,
.register-gender,
.register-email,
.register-contact,
.register-date {
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  padding-top: 10px;
  .form-control {
    background-color: transparent;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 300;
    transition: color 0.3s ease, background-color 0.3s ease,
      border-color 0.3s ease;
    &:hover {
      &::placeholder {
        color: white;
      }
      color: white;
      border-color: rgba(0, 0, 0, 0.5);
      background-color: rgba(0, 0, 0, 0.5);
    }
    &:focus {
      &::placeholder {
        color: white;
      }
      box-shadow: none;
      color: white;
      border-color: rgba(0, 0, 0, 0.5);
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
